# Força o PNPM a criar uma árvore plana (modelo NPM clássico) de dependências.
# Isso evita que o bundler do Vite (Rolldown) se perca nas pastas recursivas .pnpm/ e crashe ao buscar dependências "Peer" como o ApexCharts.

node-linker=hoisted
public-hoist-pattern[]=*
